<!doctype html>
<html lang="ja-JP">
<head>
    <meta charset="UTF-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        #allTags span {
            margin-left: 0.5em;
            font-size: 1.1em;
        }

        #allTags a {
            font-weight: normal;
            color: white;
        }
    </style>
    <title>Zaffy Viewer</title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand">Zaffy Scenario Viewer</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#tag">Tag</a></li>
                    <li><a href="#path">Path</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span10">
            <form id='tagPrefix'>
                <fieldset>
                    <legend>Legend</legend>
                    <label>Tag Prefix</label>
                    <input type="text" class="input-medium search-query" placeholder="input tag prefix">
                    <a href='?prefix='>link</a>
                </fieldset>
            </form>

            <table id="tags" class="table table-striped table-bordered">
                <thead>
                <th>Name</th>
                <th>Scenario Count</th>
                </thead>
                <tbody></tbody>
            </table>

            <div class="alert alert-info">
                <strong>all tags</strong>

                <div id="allTags"></div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='js/jquery-1.9.1.min.js'></script>
<script type='text/javascript' src='js/underscore-min.js'></script>
<script type='text/javascript' src='js/util.js'></script>
<script type='text/javascript' src='js/tagview.js'></script>
</body>
</html>