<!doctype html>
<html lang="ja-JP">
<head>
    <meta charset="UTF-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/view.css" rel="stylesheet">
    <title>Zaffy Viewer</title>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
          Zaffy Viewer
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Tag</a></li>
        <li><a href="scenario_list.html">Scenario</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
    <div class="row">
        <div class="span10">
            <form id='tagPrefix'>
                <fieldset>
                    <legend>Tag Prefix Search</legend>
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="input tag prefix">
                    <span class="input-group-addon">
                        <a href='?prefix='>link</a>
                    </span>
                    </div>
                </fieldset>
            </form>

            <table id="tags" class="table table-striped">
                <thead>
                <th>Name</th>
                <th>Total</th>
                <th>Not Implemented</th>
                </thead>
                <tbody></tbody>
            </table>

            <div class="alert alert-info">
                <strong>all tags</strong>
                <div id="allTags" class="tags"></div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='js/jquery-2.1.1.min.js'></script>
<script type='text/javascript' src='js/underscore-min.js'></script>
<script type='text/javascript' src='js/util.js'></script>
<script type='text/javascript' src='js/tagview.js'></script>
</body>
</html>
